/* Jonno Portfolio CSS */

/* Navigation Menu */
.navbar{
    width: 100%;
    margin: 0px auto;
    text-align: center;
    position: sticky; /* Reposition navbar when scrolling ? */
    top: 0;
}
.navbar > ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #0eeca9;
}
.navbar > ul > li {
    text-align: center;
    display: inline-block;
}
.navbar > ul > li > a {
    float: left;
    display: block;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar > ul > li > a:hover {
    background: #ddd;
    color: black;
}


/* Page Content*/
.header{
    background-color: #FFFFFF;
    padding: 10px;
    text-align: center;
    color: #000000;
}
#body{
    background-color: #FFFFFF;
    font-family: "Sudo", sans-serif;
}
.main{
    padding: 16px;
    margin: auto;
    background-color: #FFFFFF;
}
.section1{
    background-color: #FFFFFF;
    color: #000000;
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}
.section2{
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    width: 50%;
    display: block;
    margin: auto;
}
/* Sticky class added to navbar with JS when reaches scroll position
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
/* Add top padding to prevent quick movement
.sticky + .main{
    padding-top: 60px;
} */
.footer{
    background-color: #FFFFFF; /* Change Footer Color */
    padding: 10px;
    text-align: center;
    color: #000000;
}
